<!doctype html>
<html id="html" class="fixed{% if sidebar_collapsed %} sidebar-left-collapsed{% endif %}">

	<head>

		<!-- Basic -->
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Piper Server Dashboard" />
		<meta name="description" content="Piper Server is the web application component of the Piper Pipeline Toolkit - an out-of-the-box CGI production tracking and data management software suite.">
		<meta name="author" content="Viktor Petrov">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% load static %}

        <title>{% block title %}Piper Dashboard{% endblock %}</title>

        <!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />

		<!-- Web Fonts  -->
		<!--link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css"-->

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/css/datepicker3.css' %}" />

		<!-- Specific Page Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}" />
		<link rel="stylesheet" href="{% static 'vendor/morris/morris.css' %}" />
        <link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.css' %}" />
        {% block custom_page_css %}
        {% endblock %}

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme.css' %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/skins/default.css' %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'stylesheets/theme-custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.js' %}"></script>

	</head>
	<body>
		<section class="body">


			<div>

				<section role="main" class="content-body padded-top">
                    <!-- start: page -->
                    {% block page %}

                    {% endblock %}
					<!-- end: page -->
				</section>
			</div>
		</section>

		<!-- Vendor -->
		<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
		<script src="{% static 'vendor/jquery-browser-mobile/jquery.browser.mobile.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendor/nanoscroller/nanoscroller.js' %}"></script>
		<script src="{% static 'vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/magnific-popup.js' %}"></script>
		<script src="{% static 'vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>


		<!-- Custom Page Vendor -->
        {% block custom_page_vendor %}
        {% endblock %}
		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'javascripts/theme.js' %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static 'javascripts/theme.custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'javascripts/theme.init.js' %}"></script>

		<!-- Custom Page Scripts -->
        <script src="{% static 'vendor/pnotify/pnotify.custom.js' %}"></script>
        {% block custom_page_js %}
        {% endblock %}
	</body>
</html>