
                                                                <section id="context-selector" class="panel drop-shadow">
                                                                    <header class="panel-heading">
                                                                        <h3 class="panel-title">Context</h3>
                                                                    </header>
                                                                    <div class="panel-body">
                                                                        <div class="form-group">
                                                                            <label class="col-md-1 control-label blue"><b>Project:</b></label>
                                                                            <div class="col-md-4">
                                                                                <div class="input-group btn-group">
                                                                                    <span class="input-group-addon">
                                                                                        <i class="fa fa-th-list"></i>
                                                                                    </span>
                                                                                    <select class="form-control selectpicker" data-live-search="true" required id="project-select">
                                                                                        <option value="" data-hidden="true"></option>
                                                                                        {% for project in projects %}
                                                                                        <option value="{{ project.id }}">{{ project.long_name }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <i id='project-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                            <div id="episode-select-grp" class="form-group" style="display:none">
                                                                                <label class="col-md-1 control-label blue"><b>Episode:</b></label>
                                                                                <div class="col-md-4">
                                                                                    <div class="input-group btn-group">
                                                                                        <span class="input-group-addon">
                                                                                            <i class="fa fa-th-list"></i>
                                                                                        </span>
                                                                                        <select class="form-control selectpicker" data-live-search="true" required id="episode-select">
                                                                                            <option value="" data-hidden="true"></option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <i id='episode-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                            </div>
                                                                        </div>
                                                                        <hr/>
                                                                        <div class="tabs tabs-vertical tabs-left tabs-primary">
                                                                            <ul id="context-selector-tabs" class="nav nav-tabs col-sm-3 col-xs-5">
                                                                                <li class="context-selector-tab active">
                                                                                    <a href="#shot-tab" data-toggle="tab"><i class="fa fa-film"></i> Shot</a>
                                                                                </li>
                                                                                <li class="context-selector-tab">
                                                                                    <a href="#asset-tab" data-toggle="tab"><i class="fa fa-cube"></i> Asset</a>
                                                                                </li>
                                                                            </ul>
                                                                            <div class="tab-content white-background">
                                                                                <div id="shot-tab" class="tab-pane active">
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-3 control-label blue"><b>Sequence:</b></label>
                                                                                        <div class="col-md-6">
                                                                                            <div class="input-group btn-group">
                                                                                                <span class="input-group-addon">
                                                                                                    <i class="fa fa-th-list"></i>
                                                                                                </span>
                                                                                                <select class="form-control selectpicker" data-live-search="true" required id="sequence-select">
                                                                                                    <option value="" data-hidden="true"></option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <i id='sequence-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-3 control-label blue"><b>Shot:</b></label>
                                                                                        <div class="col-md-6">
                                                                                            <div class="input-group btn-group">
                                                                                                <span class="input-group-addon">
                                                                                                    <i class="fa fa-th-list"></i>
                                                                                                </span>
                                                                                                <select class="form-control selectpicker" data-live-search="true" required id="shot-select">
                                                                                                    <option value="" data-hidden="true"></option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <i id='shot-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div id="asset-tab" class="tab-pane">
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-3 control-label blue"><b>Asset type:</b></label>
                                                                                        <div class="col-md-6">
                                                                                            <div class="input-group btn-group">
                                                                                                <span class="input-group-addon">
                                                                                                    <i class="fa fa-th-list"></i>
                                                                                                </span>
                                                                                                <select class="form-control selectpicker" data-live-search="true" required id="asset-type-select">
                                                                                                    <option value="" data-hidden="true"></option>
                                                                                                    {% for asset_type in asset_types %}
                                                                                                    <option value="{{ asset_type.id }}">{{ asset_type.long_name }}</option>
                                                                                                    {% endfor %}
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <i id='asset-type-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-3 control-label blue"><b>Asset:</b></label>
                                                                                        <div class="col-md-6">
                                                                                            <div class="input-group btn-group">
                                                                                                <span class="input-group-addon">
                                                                                                    <i class="fa fa-th-list"></i>
                                                                                                </span>
                                                                                                <select class="form-control selectpicker" data-live-search="true" required id="asset-select">
                                                                                                    <option value="" data-hidden="true"></option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </div>
                                                                                        <i id='asset-select-exclamation' class="fa fa-exclamation-circle icon-block float-left appear-animation bounceIn appear-animation-visible exclamation" style="display:none"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
