<html>
  <head></head>
  <body>
    <p>User <a href="http://{{ request.META.HTTP_HOST }}{{ user.full_url }}" target="_blank">{{ user.username }}</a> {{ action }} <a href="http://{{ request.META.HTTP_HOST }}/page/{{ entity.type }}/{{ entity.id }}/" target="_blank">{{ entity.type }} {{ entity.long_name }}</a> successfully.</p>
    <p>Path: <i>{{ entity.publish_path }}</i></p>
    {% if history %}
    <p><a href="http://{{ request.META.HTTP_HOST }}{{ history.url }}" target="_blank">Changes</a>:</p>
    <ul>
    {% for key, value in history.change.after.items %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>