                    <a id="configureFormTrigger" class="modal-with-zoom-anim" href="#configureFormDialog"></a>
                    <div id="configureFormDialog" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
                        <section class="panel panel-featured panel-featured-primary">
                            <form method="post" action="/configure/{{ entity.type }}/{{ entity.id }}/" enctype="multipart/form-data" class="configure-form" id="configure-form">
                                {% csrf_token %}
                                <header class="panel-heading">
                                    <h2 class="panel-title"><i class="fa fa-spin fa-gear"></i> Configure <b><span id="configure-title">{{ entity.type }} {{ entity.long_name }}</span></b></h2>
                                    <div class="panel-actions">
                                        <a href="#" class="fa fa-times-circle-o form-close" data-toggle="tooltip" data-placement="top" data-original-title="Close"></a>
                                    </div>
                                </header>
                                <div class="panel-body">
                                    <section class="panel drop-shadow">
                                        <header class="panel-heading">
                                            <h2 class="panel-title">Own configuration <button class="btn btn-primary add-configuration-row">Add <i class="fa fa-plus-circle whitened"></i></button></i></h2>
                                        </header>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table id="own-configuration-table" class="table mb-none table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Attribute</th>
                                                            <th>Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                    <hr>
                                    <section class="panel drop-shadow">
                                        <header class="panel-heading">
                                            <h2 class="panel-title">Inherited configuration</h2>
                                        </header>
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table id="inherited-configuration-table" class="table mb-none table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>Parent</th>
                                                            <th>Type</th>
                                                            <th>Attribute</th>
                                                            <th>Value</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <footer class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" class="btn btn-primary">Configure</button>
                                            <button class="btn btn-default modal-dismiss">Cancel</button>
                                        </div>
                                    </div>
                                </footer>
                            </form>
                        </section>
                    </div>