                                    {% load static %}
                                    {% for entity in entities %}
									<div class="col-md-4 media-gallery-element {% if entity.is_image %}image{% elif entity.is_video %}video{% endif %} {% if entity.type == 'File' %}version{% if entity.version.for_dailies %} dailies{% endif %}{% else %}playlist{% endif %} {{ entity.project.long_name }} {% for tag in entity.tags.all %}{{ tag.name }} {% endfor %} {{ entity.created_by }} {{ entity.creation_date_timestamp }} col-sm-6 col-md-4 col-lg-3">
										<div class="thumbnail">
											<div class="thumb-preview">
                                                {% if entity.type == 'File' %}
												<a class="thumb-image" href="{% if entity.is_image %}{{ entity.data_path }}?version={{ entity.version.id }}{% else %}/video/File/{{ entity.id }}/{% endif %}" data-toggle="lightbox" data-title="<a href='/page/{{ entity.type }}/{{ entity.id }}/'>{{ entity.name }}</a>" data-type="{% if entity.is_image%}image{% else %}url{% endif %}" data-footer='<div class="col-sm-12"><p><a href="{{ entity.artist.full_url }}">{{ entity.artist.username }}</a> on {{ entity.created }} "{{ entity.description }}"</p></div><div class="col-sm-12"><object class="col-sm-12" type="text/html" data="/timeline{{ entity.parent.full_url }}"></object></div>'>
													{% if entity.is_image %}
                                                    <img src="{{ entity.data_path }}?version={{ entity.version.id }}" class="img-responsive img-fluid" alt="{{ entity.type }} {{ entity.name }}">
                                                    {% else %}
                                                    <video class="img-responsive img-fluid">
                                                        <source src="{{ entity.data_path }}?version={{ entity.version.id }}">
                                                    </video>
                                                    {% endif %}
                                                </a>
                                                {% else %}
                                                <div class="justify-content-center padded" data-toggle="tooltip" data-placement="top" data-original-title="{{ entity.description }}">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            {% for file_entity in entity.files %}
                                                            {% if file_entity.is_image %}
                                                            <a href="{{ file_entity.data_path }}?version={{ file_entity.version.id }}" data-toggle="lightbox" data-gallery="playlist{{ entity.id }}" data-type="image" class="col-sm-4" data-title="<a href='{{ file_entity.full_url }}'>{{ file_entity.name }}</a>" data-footer='<div class="col-sm-12"><p><a href="{{ entity.artist.full_url }}">{{ entity.artist.username }}</a> on {{ entity.created }} "{{ entity.description }}"</p></div><div class="col-sm-12"><object class="col-sm-12" type="text/html" data="/timeline{{ entity.parent.full_url }}"></object></div>'>
                                                                <img src="{{ file_entity.data_path }}?version={{ file_entity.version.id }}" class="img-fluid">
                                                            </a>
                                                            {% else %}
                                                            <a href="/video/File/{{ file_entity.id }}/" data-toggle="lightbox" data-gallery="playlist{{ entity.id }}" data-type="url" class="col-sm-4" data-title="<a href='{{ file_entity.full_url }}'>{{ file_entity.name }}</a>" data-footer='<div class="col-sm-12"><p><a href="{{ entity.artist.full_url }}">{{ entity.artist.username }}</a> on {{ entity.created }} "{{ entity.description }}"</p></div><div class="col-sm-12"><object class="col-sm-12" type="text/html" data="/timeline{{ entity.parent.full_url }}"></object></div>'>
                                                                <video class="img-fluid img-responsive">
                                                                    <source src="{{ file_entity.data_path }}?version={{ file_entity.version.id }}">
                                                                </video>
                                                            </a>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% if entity.type == 'File' %}
												<div class="mg-thumb-options" data-toggle="tooltip" data-placement="top" data-original-title="{{ entity.parent.description }}">
                                                    <div class="mg-zoom"><i class="fa fa-search"></i></div>
													<div class="mg-toolbar">
                                                        <div class="mg-option checkbox-custom checkbox-inline">
															<input type="checkbox" class="selection-checkbox" id="{{ entity.id }}" data-project-id="{{ entity.project.id }}" value="1">
															<label for="{{ entity.id }}">Select</label>
														</div>
													</div>
												</div>
                                                {% endif %}
											</div>
                                            <div class="padded-top">
                                                <p><a href="/page/{{ entity.type }}/{{ entity.id }}/" class="no-underline"><b>{{ entity.type }} {{ entity.name }}</a><small> {{ entity.format }}</small></b></p>
                                            </div>
											<div class="mg-description">
												<small class="pull-left text-muted"><i class="fa fa-tags"></i> {% for tag in entity.tags.all %}{{ tag.name }} {% endfor %}</small>
                                                <small class="pull-right text-muted"><a href="{{ entity.artist.full_url }}" class="no-underline">{{ entity.created_by }}</a> on {{ entity.created }}</small>
											</div>
										</div>
									</div>
									{% endfor %}