{% extends "index.html" %}

{% block title %}Piper Search{% endblock %}
{% block header %}Search results <a href="/docs/#search-results" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span><b>Search</b></span></li>
{% endblock %}

{% load static %}

{% block custom_page_css %}
{% endblock %}

{% block page %}
					<div class="search-content">
						<div class="search-control-wrapper appear-animation fadeInRight appear-animation-visible">
							<form id="search-form">
								<div class="form-group">
									<div class="input-group">
										<input id="search-query" type="text" class="form-control" value="{{ query }}">
										<span class="input-group-btn">
											<button id="search-btn" class="btn btn-primary" type="button">Search</button>
										</span>
									</div>
								</div>
							</form>
						</div>
                        <div id="search-results">
                            {% include "search-results.html" %}
						</div>
                        <div id="search-load-spinner" class="search-load-spinner centered padded-top" style="width:1%;display:none">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
					</div>
{% endblock %}

{% block custom_page_js %}
    <script src="{% static 'javascripts/pages/pages.search.js' %}"></script>
{% endblock %}
