{% extends "index.html" %}

{% block title %}Piper Error 403{% endblock %}
{% block header %}Error 403 <a href="/docs/#error-403" target="_blank"><i class="fa fa-question-circle" aria-hidden="true"></i></a>{% endblock %}

{% block breadcrumbs %}
    <li><span>403</span></li>
{% endblock %}

{% block page %}
	<section class="body-error error-inside">
		<div class="center-error">
			<div class="row">
				<div class="col-md-12">
					<div class="main-error mb-xlg">
						<h2 class="error-code text-dark text-center text-semibold m-none">403 <i class="fa fa-lock"></i></h2>
						<p class="error-explanation text-center">Sorry, you're not allowed to access this page.</p>
                        <p class="error-explanation text-center">Contact your supervisor to find out why or:</p>
						<p class="error-explanation text-center"><a href="mailto:{{ user.globals.ticket_email }}?Body=Describe%20your%20issue..." class="no-underline"><i class="fa fa-external-link text-dark"></i> Submit bug report</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}