<thead>
    <tr>
        {% for key in dummy.display_fields.keys %}
            <th>{{ key }}</th>
        {% endfor %}
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for entity in entities %}
    <tr class="gradeA" id="{{ entity.type }}/{{ entity.id }}/">
        {% for key, data in entity.display_fields.items %}
            {% if key == 'Thumbnail' %}
            <td>
                {% include "tables-editable-thumbnail.html" %}
            </td>
            {% else %}
            <td>
                {% include "tables-editable-cell.html" %}
            </td>
            {% endif %}
        {% endfor %}
        <td class="actions">
            {% include "tables-editable-actions.html" %}
        </td>
    </tr>
    {% endfor %}
</tbody>