<div class="img-thumbnail">
    <img src="{{ entity.thumbnail.url }}" class="img-responsive img-rounded">
    <div class="update-thumbnail-button">
        {% if preview %}
        <a href="/video/File/{{ preview.id }}/" data-toggle="lightbox" data-type="url" class="update-thumbnail" data-title="<a href='{{ preview.full_url }}'>{{ preview.long_name }}</a>" data-footer='<div class="col-sm-12"><p><a href="{{ preview.artist.full_url }}">{{ preview.artist.username }}</a> on {{ preview.created }} "{{ preview.description }}"</p></div><div class="col-sm-12"><object class="col-sm-12" type="text/html" data="/timeline{{ preview.version.full_url }}"></object></div>'>
            <span class="pull-right label label-default" data-toggle="tooltip" data-placement="right" data-original-title="Show latest preview"><i class="fa fa-video-camera"></i></span>
        </a>
        {% endif %}
        <a href="#update-thumbnail" class="update-thumbnail modal-with-zoom-anim"><span class="pull-right label label-default" data-toggle="tooltip" data-placement="left" data-original-title="Update thumbnail"><i class="fa fa-image"></i></span></a>
    </div>
</div>