								{% for activity in activities %}
                                {% if activity.type == 'Note' %}
                                <li class="activity-note timeline-activity">
                                {% else %}
								<li class="activity-edit timeline-activity">
                                {% endif %}
									<div class="tm-info">
                                        {% if activity.type == 'Note' %}
                                        <div class="tm-icon"><i class="fa fa-comments"></i></div>
                                        {% else %}
										<div class="tm-icon"><i class="fa fa-pencil"></i></div>
                                        {% endif %}
										<time class="tm-datetime" datetime="2013-11-22 19:13">
											<div class="tm-datetime-date">{{ activity.time_delta_label }}.</div>
											<div class="tm-datetime-time">{{ activity.weekday }} {{ activity.created.date.day }}</div>
									    </time>
									</div>
                                    {% if refresh %}
                                    <div class="tm-box">
                                    {% else %}
									<div class="tm-box appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="100">
                                    {% endif %}
										<p>
                                           {{ activity.created }}
                                        </p>
                                        {% if activity.type == 'Note' %}
                                        <i class="fa fa-quote-left"></i> <h5 class="aligned-justify">{{ activity.content }}</h5> <div class="aligned-right"><i class="fa fa-quote-right"></i></div>
                                        {% else %}

                                        {% if activity.change.before %}
                                        <p>
                                            {% if activity.parent == entity %}
                                            <b>Updated</b> {{ activity.parent.type.lower }} {{ activity.parent.name }}:
                                            {% else %}
                                            <b>Updated</b> <a href="{{ activity.parent.full_url }}">{{ activity.parent.type.lower }} {{ activity.parent.name }}</a>:
                                            {% endif %}
                                        </p>
                                        {% for key, value in activity.change.after.items %}
                                        <p>
                                            {{ key }}: {{ value }}
                                        </p>
                                        {% endfor %}
                                        {% else %}
                                        <p>
                                            {% if activity.parent == entity %}
                                            <b>Created</b> {{ activity.parent.type.lower }} {{ activity.parent.name }}
                                            {% else %}
                                            <b>Created</b> <a href="{{ activity.parent.full_url }}">{{ activity.parent.type.lower }} {{ activity.parent.name }}</a>
                                            {% endif %}
                                        </p>
                                        {% endif %}
                                        {% endif %}

                                        {% if activity.attachments %}
                                        <div class="thumbnail-gallery">
                                            {% for attachment in activity.attachments %}
                                            {% if attachment.is_image %}
											<a class="img-thumbnail" href="{{ attachment.file.url }}">
												<img width="215" src="{{ attachment.file.url }}">
												<span class="zoom">
													<i class="fa fa-search"></i>
												</span>
											</a>
                                            {% endif %}
                                            {% endfor %}
										</div>
                                        {% for attachment in activity.attachments %}
                                        {% if not attachment.is_image %}
                                        <p>
                                            <a href="{{ attachment.file.url }}" download="{{ attachment.file.name }}"><i class="fa fa-download"></i> {{ attachment.file.name }}</a>
                                        </p>
                                        {% endif %}
                                        {% endfor %}
                                        {% endif %}

										<div class="tm-meta">
											<span>
												<i class="fa fa-user"></i> <a href="{{ user.full_url }}">{{ activity.created_by }}</a>
											</span>
                                            {% if activity.tags.all %}
											<span>
                                                <i class="fa fa-tags"></i> {% for tag in activity.tags.all %} <a href="{{ tag.full_url }}">{{ tag.name }}</a> {% endfor %}
											</span>
                                            {% endif %}
                                            {% if activity.mentioned_users.all %}
											<span>
                                                <i class="fa fa-users"></i> {% for mentioned_user in activity.mentioned_users.all %} <a href="{{ mentioned_user.full_url }}">{{ mentioned_user.name }}</a> {% endfor %}
											</span>
                                            {% endif %}
                                            {% if activity.type == 'Note' %}
											<span>
                                                <i class="fa fa-mail-reply-all"></i> <a href="/correspondence/{{ activity.id }}">Reply</a>
											</span>
                                            {% endif %}
										</div>
									</div>
								</li>
                                {% endfor %}